.login {
  box-sizing: border-box;
  position: relative;
  border: 0.5rem solid white;
  border-radius: 0.25rem;
  background-color: #2080d5;
  font-size: 1rem;
  min-height: 40vh;
  min-width: 40%;
  overflow: hidden;
}

.login-inputs {
  margin-top: 1rem;
  padding: 1rem 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 0.5rem;
  row-gap: 1rem;
}

.login-input-label {
  text-transform: uppercase;
  color: white;
  text-align: right;
}

.login-input-input {
  text-indent: 0.5rem;
}

.login-input-submit {
  color: #2080d5;
  border-radius: 2rem;
  background-color: #facf5a;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1rem;
  min-width: 5rem;
  max-width: 8rem;
  cursor: pointer;
}

.sprite {
  position: absolute;
  height: auto;
}

.circle-sprite {
  max-width: 6rem;
  transform: rotate(-25deg);
  right: 0;
  bottom: -2rem;
}

.triangle-sprite {
  max-width: 3rem;
  transform: rotate(25deg);
  bottom: 1rem;
}
